div {
  height: 50vh;
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.orange {
  background: orange;
}

.blue {
  background: blue;
}
