* {
  font-family: "SuperMarioGalaxy";
}

#baddies {
  display: flex;
  justify-content: space-around;
}

img {
  height: 200px;
}
body {
  background-image: url(https://i.pinimg.com/originals/31/0d/4a/310d4a2f36b4fe4a07a31f5f7759a4d3.jpg);
}

#footer {
  height: 35px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#header {
  display: flex;
  align-items: center;
}

#text {
  margin-left: 20px;
}
