.dontcontainer {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 40px;
}

.donttitle {
  margin: 0px;
  margin-top: 5%;
}

.dontcontainer p {
  line-height: 25px;
  letter-spacing: 0.1px;
}

.dontleft {
  width: 40%;
  height: 100%;
}

.dontleft a {
  color: black;
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid black;
}

.dontright {
  width: 60%;
  height: 100%;
}

.dontimg {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 1100px) {
  .dontcontainer {
    width: 65%;
  }
}

@media screen and (max-width: 550px) {
  .dontcontainer {
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .dontright {
    width: 90%;
  }
}
