.baddies {
  margin: 0 auto;
}
.baddie {
  width: 33%;
  display: inline-block;
  justify-content: space-around;
  margin: 0 auto;
}

img {
  height: 200px;
}
body {
  background-image: url(https://i.pinimg.com/originals/31/0d/4a/310d4a2f36b4fe4a07a31f5f7759a4d3.jpg);
}
